
html{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #5b4d3c;
    display: block;
    max-width: 1440px;
    min-width: 500px;
    /* background-color: #2a2219; */
}

body{
    margin:0px;
    padding:0px;
    border:0px;
    background-image: local("images/logp2.jpg");
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #d4cfc9 ;
    display: block;
    /* background-color: #2a2219; */
}

.nav {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100px;
}

.logo-image{
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
    bottom: 15px;
}

.nav ul {
    list-style-type: none;
    list-style: none;
    position: relative;
    color: white;
    text-align: right;
    font-size: 25px;
    right: 10%;
    padding: 0px;
    padding-left: 0px;
    bottom: 110px;
    /* padding-left: 30px; */
    /* right: 80%; */

}

.nav ul li{
    display: inline-block;
    top: 100px;
    padding-left: 30px;
    color: #5b4d3c;
}


.contact{
    padding: 10%;
    height: 200px;
    background-color: #d4cfc9;
    opacity: 0.9;
    border: #d4cfc9 solid 5px;
    border-radius: 15px;
    text-align: center;
}


.contact ul{
    text-align: center;
    list-style-type: none;
    position: relative;
    color: #5b4d3c;
    /* text-align: left; */
    font-size: 20px;
    left: 10%;
    padding: 0px;
    padding-left: 0px;
    top: 50px;
}
