/* <!-- 
Assignment 2: Layout Design for a Website
Bilqis Ahmed 
Thompson Rivers University 
Comp 2681 
T00774011
Musfiq Rahman
January 5th, 2025 --> */

html{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #5b4d3c;
    display: block;
    max-width: 1440px;
    min-width: 500px;
}

body{
    margin:0px;
    padding:0px;
    border:0px;
    background-color: #d4cfc9;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #d4cfc9 ;
    display: block;
    max-width: 1440px;
    min-width: 500px;
}
.nav {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 80px;
}

.logo-image{
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
    bottom: 15px;
}

.nav ul {
    list-style-type: none;
    list-style: none;
    position: relative;
    color: white;
    text-align: right;
    font-size: 20px;
    right: 10%;
    padding: 0px;
    padding-left: 0px;
    bottom: 100px;


}

.nav ul li{
    display: inline-block;
    top: 100px;
    padding-left: 30px;
    color: #5b4d3c;
}


.contact{
    position: absolute;
    left: 30%;
    margin: 0;
    height: 350px;
    width: 40%;
    background-color: #ffffff;
    border: #392308 dotted 5px;
    border-radius: 15px;
    text-align: center;
    top: 40%;
}


.contact ul{
    list-style-type: none;
    color: #5b4d3c;
    font-size: 20px;
}



.my-logo {
    float: left;
    height: 100px; 
    display: block; 
    margin: 10px 10px 0px;
    text-align: center;
}