

html{
    margin:0;
    padding:0;
}

.nav {
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

.nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;

}

.body-image img{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0%;
    /* padding-top: 10%; */
}

.title{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);

}

.sub-title{
    position: absolute;
    text-align: center;
    top: 37%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.contact-button{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: rgb(38, 20, 7) 2px solid;
    color: rgb(255, 255, 255);
    background-color: #5b4d3c;
    border-radius: 12px;
}