/* 
Assignment 2: Layout Design for a Website
Bilqis Ahmed 
Thompson Rivers University 
Comp 2681 
T00774011
Musfiq Rahman
January 5th, 2025 --> */

html{
    margin:0px;
    padding:0px;
    border:0px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    color: #ffffff, #5b4d3c;
    display: block;
    max-width: 1440px;
    min-width: 500px;
}

body{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #5b4d3c ;
    display: block;
}

.nav {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100px;
}

.logo-image{
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
    bottom: 15px;
}

.nav ul {
    list-style-type: none;
    list-style: none;
    position: relative;
    color: white;
    text-align: right;
    font-size: 20px;
    right: 10%;
    padding: 0px;
    padding-left: 0px;
    bottom: 100px;


}

.nav ul li{
    display: inline-block;
    top: 100px;
    padding-left: 30px;
    color: #5b4d3c;
}

.body-image img{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0%;
    bottom: 30px;

}

.title{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);

}

.sub-title{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.contact-button{
    position: absolute;
    text-align: center;
    height: 20px;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: rgb(38, 20, 7) 2px solid;
    color: rgb(255, 255, 255);
    background-color: #5b4d3c;
    border-radius: 12px;
}

.text1{
    text-align: center;
    position: relative;
    border: 2px dotted #5b4d3c ;
    border-radius: 12px;
    color: #5b4d3c;
    padding: 30px;
    float: left;
}

.text2{
    text-align: center;
    position: relative;
    border: 2px dotted #5b4d3c ;
    border-radius: 12px;
    color: #5b4d3c;
    padding: 30px;
    float: right;
}

.text-container::after {
    content: "";
    display: table;
    clear: both;
}


.tool-tip{
    border-radius: 10px;
    padding: 0px 6px;
    position: absolute;
    visibility: hidden;
    width: 200px;
    background-color: #5b4d3c;
    color: #fff;
    text-align: center;
    z-index: 1;
  }

  .contact-button:hover .tool-tip {
    visibility: visible;
  }


.tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: #5b4d3c;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 125%;
    left: 90%;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}