

html{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #5b4d3c ;
    display: block;
    /* background-color: #2a2219; */
}

body{
    margin:0px;
    padding:0px;
    border:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff, #5b4d3c ;
    display: block;
    /* background-color: #2a2219; */
}

.nav {
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

.logo-image{
    height: 130px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
}

.nav ul {
    list-style-type: none;
    position: relative;
    color: white;
    text-align: right;
    font-size: 30px;
    justify-content: right;
    right: 150px;
    padding-left: 30px;
    /* right: 80%; */

}

.body-image img{
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0%;
    /* padding-top: 10%; */
}

.title{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);

}

.sub-title{
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.contact-button{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: rgb(38, 20, 7) 2px solid;
    color: rgb(255, 255, 255);
    background-color: #5b4d3c;
    border-radius: 12px;
}

.text1{
    text-align: center;
    position: relative;
    border: 2px dotted #5b4d3c ;
    border-radius: 12px;
    /* background-color: #2a2219; */
    color: #5b4d3c;
}

.text2{
    text-align: center;
    position: relative;
    border: 2px dotted #5b4d3c ;
    border-radius: 12px;
    color: #5b4d3c;
}