

body{
    font-family: Arial, sans-serif;
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

h1{
    color: #ffffff;
    text-align: center;
}

.oform-container {
    background-color: #ffffff;
    width: 40%; 
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(38, 26, 9, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1px;
    /* align-items: stretch; */

    
}

/* input[type=”radio”]:checked {
    styles
} */

input{
    background-color: white;
    flex: 1;
}
/* input:valid {
    background-color: rgb(194, 236, 194);

}

input:invalid {
    background-color: rgb(198, 147, 150)

}; 

input:placeholder-shown {
    background-color: white;
} */

input:valid:not(:placeholder-shown) {
    background-color: rgb(194, 236, 194);
}

input:invalid:not(:placeholder-shown) {
    background-color: rgb(198, 147, 150);
}

.buttons{
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    margin: auto;
}

#contact{
    align-items: flex-start;
}