

body{
    font-family: Arial, sans-serif;
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 70px;
}

.logo-image{
    height: 100px;
    padding: 0;
    margin: 0;
    position: relative;
    left: 30px;
    bottom: 15px;
}

.nav ul {
    list-style-type: none;
    list-style: none;
    position: relative;
    color: white;
    text-align: right;
    font-size: 20px;
    right: 10%;
    padding: 0px;
    padding-left: 0px;
    bottom: 100px;


}

.nav ul li{
    display: inline-block;
    top: 100px;
    padding-left: 30px;
    color: #5b4d3c;
}

h1{
    color: #ffffff;
    text-align: center;
}

.oform-container {
    background-color: #ffffff;
    width: 40%; 
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(38, 26, 9, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1px;
    /* align-items: stretch; */

    
}

/* input[type=”radio”]:checked {
    styles
} */

input{
    background-color: white;
    flex: 1;
}
/* input:valid {
    background-color: rgb(194, 236, 194);

}

input:invalid {
    background-color: rgb(198, 147, 150)

}; 

input:placeholder-shown {
    background-color: white;
} */

input:valid:not(:placeholder-shown) {
    background-color: rgb(194, 236, 194);
}

input:invalid:not(:placeholder-shown) {
    background-color: rgb(198, 147, 150);
}

.buttons{
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    margin: auto;
}

#contact{
    align-items: flex-start;
}