

/* <!-- 
Assignment 3: Web Form Design 
Bilqis Ahmed 
Thompson Rivers University 
Comp 2681 
T00774011
Musfiq Rahman
January 8th, 2025 --> */

body{
    font-family: Arial, sans-serif;
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding: 0 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.logo-image {
    height: 80px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}



.nav ul li a {
    display: block;
    color: #5b4d3c;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: #cccccc;
}
h1{
    color: #ffffff;
    text-align: center;
}

h1:hover{
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.oform-container {
    background-color: #ffffff;
    width: 40%; 
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(38, 26, 9, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1px;


    
}

input{
    background-color: white;
    flex: 1;
}


input:valid:not(:placeholder-shown) {
    background-color: rgb(194, 236, 194);
}

input:invalid:not(:placeholder-shown) {
    background-color: rgb(198, 147, 150);
}

.buttons{
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    margin: auto;
}

#contact{
    align-items: flex-start;
}

input #comments {
    height: 400px;

}

@keyframes myAnimation {
    from {color: #d39a9a;}
    to {color: rgb(0, 225, 255);}
  }