

body{
    font-family: Arial, sans-serif;
    background-color: #5b4d3c;
    margin: 0;
    padding: 0;
}

h1{
    color: #ffffff;
    text-align: center;
}

.oform-container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* 
input[type=”radio”]:checked {
    styles
 }


input:focus:invalid {
    background-color: rgb(255, 232,
    233)

};  */
