
body{
    display: flex;
    flex-direction: column;


}
h1 {
    align-items: center;
    text-align: center;
}

.birthday{

    margin: auto;
    width: 50%;
    height: 40%;

}

audio{
    margin: auto;
    padding: 10%;
}